.nav {
  display: flex;
  justify-content: space-evenly;
  align-items: baseline;
  margin-top: 3rem;

  &__items {
    font-size: 2.4rem;
    font-family: "Abril fatface";
  }

  &__links {
    text-decoration: none;
    color: white;
    text-shadow: 0;

    &:hover {
      text-shadow: 0.5em 0 0 rgba(255, 0, 0, 0.75),
        -0.25em -0.5em 0 rgba(212, 0, 255, 0.75),
        0.25em 0.5em 0 rgba(0, 0, 255, 0.75);
      color: yellow;
      animation: glitch 500ms infinite;
    }
  }
}

.visited--link {
  text-decoration: none;
  color: #027dee;
}
